<section class="content-header">
  <%= link_to 'Back', products_path,:class =>"btn btn-primary pull-right" %>
  <h1>Product Details</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body form-horizontal">
        <div class="row">
          <div class="form-group">  
            <label class="col-sm-4 text-right"><%= notice   %></label>
          </div>
          
            <div class="col-xs-8">
              <div class="form-group">  
                <label class="col-sm-4 text-right">Name:</label>
                <div class="col-sm-7">
                  <%= @product.name %>
                </div>
                </div>
                 <div class="form-group">  
                <label class="col-sm-4 text-right">Description:</label>
                <div class="col-sm-7">
                  <%= @product.description %>
                </div>
                </div>
                 <div class="form-group">  
                <label class="col-sm-4 text-right">Price:</label>
                <div class="col-sm-7">
                  <%= @product.price %>
                </div>
                </div>
                <div class="form-group">  
                <label class="col-sm-4 text-right">Product category:</label>
                <div class="col-sm-7">
                  <%= Productcategory.find(@product.product_category_id).name %>
                </div>
                </div>
                 <div class="form-group">  
                <label class="col-sm-4 text-right">Brand:</label>
                <div class="col-sm-7">
                <%= Brand.find(@product.brand_id).name %>
                  <%#= @product.name %>
                </div>
                </div>
                 <div class="form-group">  
                <label class="col-sm-4 text-right">Image:</label>
                <div class="col-sm-7">
                  <img src="<%= @product.image %>" width="100" height="100" class="thumbnail"/>
                </div>
                </div>
                
                <div class="col-sm-1">
                   <%= link_to 'Edit', edit_product_path(@product),:class =>"btn btn-primary" %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
